h1#logo{
    margin: 20px 0 -20px 0;
    color: #8A8A8A;
}
#control-nav{
    margin-bottom: 0;
}
#data-table{
    border: 1px solid #DDD;
    border-top: none;
    word-break: break-word;
}

/*状态圆点*/
th.status,td.status{
    width: 4%;
}
td.danger{
    color: #da4f49;
}
td.warning{
    color: #faa732;
}
span.status{
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    text-indent: 100%;
    overflow: hidden;
    border: 1px solid #A8A8A8;
    margin: 0 auto;
}
span.invalid{
    background-color: #EEE;
    border-color: #A8A8A8;
}
span.danger{
    background-color: #da4f49;
    border-color: #bd362f #bd362f #802420;
}
span.warning{
    background-color: #faa732;
    border-color: #F89406 #F89406 #CE8319;
}
span.success{
    background-color: #5bb75b;
    border-color: #51a351 #51a351 #387038;
}
/*message*/
th.message,td.message{
    width: 40%;
}
th.file,td.file{
    width: 30%;
}
th.times,td.times{
    width: 6%;
}
th.browser,td.browser{
    width: 3%;
}
th.lifespan,td.lifespan{
    width: 8% !important;
}
th.report,td.report{
    width: 9%;
}
td.loading-text{
    text-indent: .5em;
}
#page-loader{
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 5px;
}
span.browser{
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
span.chrome{
    background-image: url("../img/s/chrome.png");
}
span.android{
    background-image: url("../img/s/android.png");
}
span.opera{
    background-image: url("../img/s/opera.png");
}
span.firefox{
    background-image: url("../img/s/firefox.png");
}
span.ie{
    background-image: url("../img/s/ie.png");
}
span.unknown{
    background-image: url("../img/s/unknown.png");
}
span.ios{
    background-image: url("../img/s/ios.png");
}
span.iphone{
    background-image: url("../img/s/iphone.png");
}
span.safari{
    background-image: url("../img/s/safari.png");
}